<%- partial('_partial/archive', {pagination: config.tag, index: true}) %>
<% if (post.tags && post.tags.length){ %>
-    <div class="article-tag tagcloud">
+    <div class="article-tag tagcloud" style="display: flex; flex-wrap: wrap">
        <%-
          list_tags(post.tags, {
            show_count: false,
            class: 'article-tag'
          })
        %>
+       <span class="post-count">总字数<%= wordcount(post.content) %></span>
+       <span class="post-count">预计阅读<%= min2read(post.content) %>分钟</span>
    </div>
<% } %>